@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgba(248, 248, 248, 0.904);
    position: relative;
}
/* .cross-line{
    width: 40rem;
    height: .2rem;
    background-color: red;
    position: fixed;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: rotate(90deg) translateY(-8rem);
    transform: rotate(90deg) translateY(-22rem);
    transform: rotate(90deg) translateY(-34rem);


    transform: rotate(180deg) translateX(-22rem);
    transform: rotate(180deg) translateY(13rem) translateX(-22rem);
    transform: rotate(180deg) translateY(-13rem) translateX(-22rem);


    transform: rotate(225deg) translateY(15rem) translateX(-14rem);
    transform: rotate(-225deg) translateY(-15.5rem) translateX(-14rem);


    top: 39rem;
} */
.navBar {
    background-color: rgba(37, 165, 250, 0.616);
    height: 4rem;
    display: flex;
    align-items: center;
}

.navBar .logo {
    margin-left: 2rem;
}

.navBar .logo h2 {
    font-size: 1.5rem;
    font-weight: 600;

}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    min-height: 80rem;
    height: 100%;
    position: relative;
}

.main .container {

    display: grid;
    grid-template-columns: repeat(3, 13rem);
    grid-template-rows: repeat(3, 13rem);
    justify-content: center;
    padding-top: 20rem;
    margin: 0  1rem;
}

.main .container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00000042;
    cursor: pointer;
    transition: .2s;
}

.main .container .box span .bx-x {
    font-size: 10rem;
    color: rgba(0, 0, 255, 0.959);
    text-shadow: 0 0 1rem rgba(0, 0, 255, 0.952), 0 0 .2rem rgba(0, 0, 255, 0.952);

}

.main .container .box span .bx-square-rounded {
    font-size: 7rem;
    color: red;
    text-shadow: 0 0 1rem red;
    cursor: pointer;
}

.main .container .box:hover {
    background-color: rgba(0, 162, 255, 0.062);
}

.border-left {
    border-left: 0 !important;
}

.border-right {
    border-right: 0 !important;
}

.border-top {
    border-top: 0 !important;
}

.border-bottom {
    border-bottom: 0 !important;
}

.menu h2 {
    font-weight: 600;
    margin-left: 1rem;
}

.main .menu {
    background-color: rgba(37, 165, 250, 0.616);
    margin: 20rem 2rem;
    border-radius: .5rem;

}

.menu div {
    line-height: 4rem;
    /* position: relative; */
}

.menu .menu-header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #0000005b;
}

.menu .menu-header h2 {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.menu .playerTurn span {
    color: #000;
}

.menu .playerTurn h2 {
    color: rgb(130, 12, 226);

}

.won-player .won-icon .bx-square-rounded {
    color: red;
}

.menu .won-player .won-icon .bx-x {
    color: rgb(0, 38, 255);
}

.reset-container {
    margin-left: 1rem;
}

.reset-container button {
    background-color: blueviolet;
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.won-player {
    margin-top: 8rem;
    position: relative;
}

.won-player h2 {
    font-size: 2.5rem;
}

#turn-player {
    display: flex;
    align-items: center;
}

.won-player img {
    width: 5rem;
    margin-bottom: -1rem;
}

.won-player {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.171);
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    min-height: 10rem;
    max-width: 65rem;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.active-won {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.won-animation {
    left: 50%;
    transform: translateX(-50%);
    animation-name: pop;
    animation-iteration-count: 1;
    animation-duration: 1s;
    transition: 1s;
    top: 40%;
}

@keyframes pop {
    0% {
        transform: scale(0);

    }

    100% {
        transform: scale(1);
        left: 30.7%;

    }
}
@media only screen and (max-width:44.5em) {
    .main{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .main .container{
        padding-top: 2rem;
    }
    .main .menu {
        background-color: rgba(37, 165, 250, 0.616);
        margin: 1rem;
        border-radius: .5rem;
    height: 14rem;
    }
    .won-player{
        width: 80%;
    }
    .won-player h2{
        font-size: 2rem;
    }
}
@media only screen and (max-width:31.5em){
    .won-player{
        width: 100%;
    }
    .won-player h2{
        font-size: 2rem;
    }
}
@media only screen and (max-width:28.12em){
    .main .container{
        padding-top: 5rem;
        grid-template-columns: repeat(3,10rem);
        grid-template-rows: repeat(3,10rem);
    }
    .won-player{
        width: 90%;
    }
    .won-player h2{
        font-size: 1.4rem;
    }
    #resert{
        font-size: 1rem !important;
    }
}